body{
    width: 1280px;
    margin: auto;
    position: relative;
}

.main{
    width: 1280px;
    position: relative;
}

.secForDelivery{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.form-action{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}



.secPersonalData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.adress{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0 0 25px 0;
}

.all-choosen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pay{
    display: flex;
}

.name-class{
    margin: 0 27px 0 0;
}

.surname{
    margin: 0 8px 0 0;
}


.street{
    margin: 0 18px 0 55px;
}

.flat-number{
    margin: 0 21px 0 0;
}

.delivery-data{
    margin: 0 24px 0 0px;
}

.house-num{
    margin: 0 5px 0 0;
}

.button-submit{
    width: 57px;
    height: 30px;
    margin: 0 0 0 222px;
}