body{
    width: 1280px;
    margin: auto;
    position: relative;
}

.main{
    width: 1280px;
    position: relative;
}

.secForDelivery{
    height: 500px;

    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    border: solid 2px black
}

.form-action{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}



.secPersonalData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.adress{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0 0 25px 0;
}

.all-choosen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pay{
    display: flex;
}

.name-class{
    margin: 0 27px 0 0;
}

.surname{
    margin: 0 8px 0 0;
}


.street{
    margin: 0 18px 0 55px;
}

.flat-number{
    margin: 0 21px 0 0;
}

.delivery-data{
    margin: 0 24px 0 0px;
}

.house-num{
    margin: 0 5px 0 0;
}

.button-submit{
    width: 57px;
    height: 30px;
    margin: 0 0 0 222px;
}

.invalid{
    border: 2px red solid;
}

input[type='radio'].invalid{
    outline: 1px solid red;
    /* border: 6px solid red; */
}

table {
    font-family: "Georgia", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

.section-for-book{
    min-width: 200px;
    min-height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    margin-bottom: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imgCard{
    width: 150px;
    height: 200px;
}

.text-wraprt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: rgba(79, 67, 67, 90%);
}

.button-delete{
    width: 30px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

    font-family: Arial, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);
}

.author-book{
    width: 173px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.window-order{
    display: none;
}

.show-window{
    width: 450px;
    height: 250px;
    z-index: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(227, 163, 117, 0.874);
    ;
    border-radius: 9px;
    position: fixed;
    top: 20%;
    left: 20%;

    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #000000;

}


.show-error{
    display: block;
}
/* 
.section-input{
    height: 71px;

} */