body{
    width: 1280px;
    margin: auto;
    position: relative;

}

/* * {
    margin: 0;
    padding: 0;
} */

.main{
    width: 1280px;
    position: relative;
}

.header{
    width: 1280px;
    height: 120px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-content{
    width: 1200px;
    height: 60px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    width: 200px;
    height: 35px;
    margin: 0 0 0 -68px;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: rgba(79, 67, 67, 90%);
}

.logo-shop{
    width: 250px;
    height: 60px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.title-shop{
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    text-align: center;

    color: rgb(210,105,30);
}

.subtitle-logo{
    font-family: Arial, serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);

    margin: 0 0 0 -67px;

}

.book-page{
    width: 1280px;
    height: 1340px;
    background-color: #F5F5F5
}

.main-content{
    width: 1280px;
    height: 1160px;

    display: grid;
    /* justify-content: space-around;
    justify-items: center;
    /* align-items: center;  */
    /* display: grid; */ 
    grid-template-columns: repeat(4, 312px);
    grid-template-rows: repeat(4, 465px);
    gap: 1em;

}

.book-card{
    width: 295px;
    height: 430px;
    margin: 0;

    background: #FAFAFA;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgCard{
    width: 200px;
    height: 265px;
    margin: 0 0 5px 0;
}

.author-book{
    width: 200px;
    height: 30px;
    margin: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: rgba(27, 27, 27, 0.903);
}

.name-book{
    width: 240px;
    height: 45px;
    margin: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: rgba(227, 163, 117, 0.874);
}

.price-book{
    width: 56px;
    height: 22px;
    margin: 0;

    font-family: Arial, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: rgba(27, 27, 27, 0.903);
}

.section-for-button{
    width: 240px;
    height: 34px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.show-more {
    width: 83px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

}

.add-bag {
    width: 83px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

}
