body{
    width: 1280px;
    margin: auto;
    position: relative;

}

/* * {
    margin: 0;
    padding: 0;
} */

.main{
    width: 1280px;
    position: relative;
}

.header{
    width: 1280px;
    height: 120px;
    background-color: #FFFFFF;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-bag{
    width: 80px;
    min-height: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;



}

.section-bag .list{
    display: none;
    min-width: 360px;
    min-height: 34px;
    position: fixed;
    left: 8%;

    background-color: rgba(227, 163, 117, 0.874);
    border-radius: 9px;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 10px;
    line-height: 35px;
    color: rgba(79, 67, 67, 90%);
}

.section-bag:hover{
    cursor: pointer;
}

.bag-for-book{
    width: 70px;
    min-height: 20px;
    background-color: #FFFFFF;

}

.section-bag:hover .list {
    display: block;
}

/* img{
    width: 50px;
    height: 50px;
}

img .list{
    display: none;
    margin-left: -50px;
    margin-top: 50px;
    width: 100px;
    min-height: 20px;
    background-color: rgba(227, 163, 117, 0.874);
}

img:hover .list{
    display: block;
} */

/* .list {
    display: none;
    margin-left: -50px;
    margin-top: 50px;
    width: 100px;
    min-height: 20px;
    background-color: rgba(227, 163, 117, 0.874);
} */

.header-content{
    width: 1200px;
    height: 60px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    width: 200px;
    height: 35px;
    margin: 0 0 0 -68px;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: rgba(79, 67, 67, 90%);
}

.logo-shop{
    width: 250px;
    height: 60px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.title-shop{
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    text-align: center;

    color: rgb(210,105,30);
}

.subtitle-logo{
    font-family: Arial, serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);

    margin: 0 0 0 -67px;

}

.book-page{
    width: 1320px;
    height: 1627px;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-page-book{
    width: 260px;
    height: 35px;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: rgba(79, 67, 67, 90%);
}

.main-content{
    width: 1295px;
    height: 1462px;


    display: grid;
    grid-template-columns: repeat(4, 312px);
    grid-template-rows: repeat(3, 485px);
    justify-items: center;
    gap: 1em;


}

.book-card{
    width: 295px;
    height: 460px;
    margin: 0;

    background: #FAFAFA;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgCard{
    width: 200px;
    height: 265px;
    margin: 0 0 5px 0;
}

.author-book{
    width: 230px;
    height: 40px;
    margin: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: rgba(27, 27, 27, 0.903);
}

.name-book{
    width: 247px;
    height: 72px;
    margin: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: rgba(227, 163, 117, 0.874);
}

.price-book{
    width: 79px;
    height: 22px;
    margin: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: rgba(27, 27, 27, 0.903);
}

.section-for-button{
    width: 240px;
    height: 34px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.show-more {
    width: 83px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

    font-family: Arial, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);

}

.add-bag {
    width: 83px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

    font-family: Arial, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);

}

.modal-win{
    display: none;
}

.show-win{
    width: 450px;
    height: 250px;
    z-index: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(227, 163, 117, 0.874);
    ;
    border-radius: 9px;
    position: fixed;
    /* top: 20%;
    left: 20%; */

    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #000000;

}

.modal-button{
    width: 83px ;
    height: 30px;

    background: #FAFAFA;
    border-radius: 100px;
    border: solid 2px rgba(227, 163, 117, 0.874);

    font-family: Arial, serif;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    color: rgba(27, 27, 27, 0.903);
}

.button-delete{
    width: 10px;
    height: 20px;
    margin: 0 0 0 25px;
    text-align: center;

    background: rgba(227, 163, 117, 0.874);

}

/* .overlay{
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

